<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.pom.ExtentReports.ExtentListeners"/>
<listener class-name="com.pom.utilities.Listeners"/>
</listeners>
  <test name="Regression Tests">
    <classes>      
      <class name="com.regression.testcases.validateHomePage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
